# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Firebase config
/src/config/firebaseConfig.js
**/firebaseConfig.js

##########
# PYTHON #
##########

**/__pycache__/
**/*.py[cod]
**/*$py.class

# Virtualenv
**/src/api/env/
**/.python-version

# vscode project settings
**/.vscode/
.vscode/PythonImportHelper-v2-Completion.json
**/launch.json



**/private*

/src/api/api_samples/*



# image headshots
/src/api/static/headshots/*

# Sensitive development scripts
src/api/utils/scripts/db/06_create_dev_user.py