/* .shadow-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 2 0 10px black;
    clip-path: url(#squircle);
    z-index:2;
} */